@model             Employee

@{
    ViewData["Title"] = $"Сотрудник id:{Model.Id}";
}

<div class="container">
    <h1>Карточка сотрудника</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/Employee/avatar.png" class="card-img" alt="avatar" style="width: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">@Model.LastName @Model.FirstName @Model.Patronymic</h3>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HireDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HireDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Salary)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Salary)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EMail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.EMail)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-default">Назад к списку</a>
    </div>
</div>
